/* IMPOSTAZIONI GENERALI */
body{
    background-image: url("../assets/img/sfondo.png");
    text-align: center;
}

/* HEADER */
header{
    background-color: rgb(11, 100, 135);
    color: white;
}

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
